@media (max-width: 1000px) {
.container{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.nav,
.auth{
    display: none;
}
.mob_nav{
    display: block;
}
.header_inners{
    align-items: start;
}
.bottom_inners{
    flex-wrap: wrap;
    margin-top: 35px;
}
.bottom_desc{
    margin-bottom: 50px;
}
.header_text{
    margin-right: 0;
    margin-bottom: 50px;
}
.title{
    font-size: 32px;
}
.header_img{
    width: 100%;
    height: auto;
}
.header_info{
    margin: 20px 0;

}
.header_info-inners{
   /* flex-wrap: wrap;*/
    flex-direction: column;
    height: auto;
    align-items: center;
}
.info_items{
    padding: 0 !important;
}
.info_items:nth-child(2):before{
    width: 100%;
    height: 2px;
    top: 0;
}
.info_items:nth-child(2):after{
    width: 100%;
    height: 2px;
    bottom: 0;
}
.bottom1_inners{
    display: block;

}
.header1_text{
    text-align: center;
}
.header1_desc{
    text-align: center;
}
.items{
    text-align: center;
}
.prise_inners{
    display: block;
}
.prise-items{
    align-items: center;
    justify-content: center;
}
.prize_text{
    text-align: center;
}
.prize_desc{
    text-align: center;
}
.comment_items{
    display: block;
    align-items: center;

}
.header_text{
    text-align: center;
}
.header_desc{
    text-align: center; 
}
.header_img{
    align-items: center;
    justify-content: center;
}
.world{
    width: 90%;
    height: auto;
}
.Sponsored{
    width: 90%;
    height: auto;
}
.footer_inners{
    display: block;
}
.footer_list{
    display: flex;
}
.footer_copyright{
    margin-bottom: 20px;
}
.footer_text{
    margin-top: 15px;
    margin-bottom: 15px;
}
.stand_inners{
    display: block;
}
.stand_inners{
    height: auto;
}
.comment_inners{
    margin: auto;
    margin-bottom: 15px;
}
.bottom_photo{
    width: 100%;
    height: auto;
}
.bottom1_img{
    margin: 0;
}
}
