* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: auto;
}
.header_inners {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.nav_list {
  list-style: none;
  display: flex;
}
.nav_link {
  margin-right: 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #4f5665;
}
.nav_link:hover {
  color: blue;
}
.auth_button {
  background-color: white;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  padding: 13px 45px;
  transition: all 0.4s;
}
.auth_button:first-child {
  margin-right: 5px;
}
.auth_button:hover {
  border: 1px solid#F53855;
  color: #f53855;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;
}
.header_bottom {
  width: 555px;
  height: 140px;
  left: 150px;
  top: 206, 77px;
}
.get_started {
  border-radius: 150px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 17px 77px;
  background-color: #f53855;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  width: 250px;
  height: 60px;
  box-shadow: 0px 20px 20px 7px rgba(245, 56, 56, 0.35);
}

.header_text {
  font-weight: 500;
  font-size: 50px;
}
.header_text span {
  font-weight: 700;
}
.header_desc {
  font-weight: 400;
  margin: 20px 0px 50px;
}
.header_desc span {
  font-weight: 600;
}
.bottom_inners {
  display: flex;
  margin-top: 120px;
}
.bottom_desc {
  margin-right: 20px;
}
.header_info {
  margin: 103px 0 150px;
}

.header_info-inners {
  display: flex;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0px 20px 20px 5px rgb(34, 37, 56, 0.06);
}
.info_items {
  display: flex;
  align-items: center;
  flex: 1;
  /*justify-content: center;*/
}
.info_items:first-child {
  padding: 0 130px 0 91px;
}
.info_items:nth-child(2) {
  padding: 0 113px 0 134px;
  position: relative;
}
.info_items:nth-child(2):before {
  position: absolute;
  left: 0;
  width: 2px;
  height: 125px;
  background-color: #eeeff2;
  content: "";
}
.info_items:nth-child(2):after {
  position: absolute;
  right: 0;
  width: 2px;
  height: 125px;
  background-color: #eeeff2;
  content: "";
}
.info_items:nth-child(3) {
  padding: 0 91px 0 90px;
}
.info_title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #0b132a;
  margin: 0;
}
.info_desc {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #4f5665;
  margin: 0;
}
.info_img {
  margin-right: 36px;
}
.list {
  padding-left: 30px;
  list-style-type: none;
}

.items {
  padding-left: 30px;
  background-image: url(./img/Group\ 1120.png);
  background-position: 0 0;
  background-size: 25px 19px;
  background-repeat: no-repeat;
}

.header1_text {
  margin: 0;
  margin-top: 54px;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.bottom1_inners {
  display: flex;
}
.header1_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin: 20px 0px 20px;
}
.bottom1_img {
  margin-right: 169px;
}

.many_text {
  text-align: center;
  font-family: Rubik;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  color: #0b132a;
  margin: 0px;
  margin-top: 211px;
}
.many1_desc {
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #4f5665;
  margin: 20px 0px;
}
.prise_inners {
  display: flex;
}
.prise-items {
  text-align: center;
  width: 330px;
  height: 760px;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  margin: 0px 0px 0px 50px;
}

.h1 {
  text-align: center;
  margin: 130px 0px 0px 0px;
}
.h2 {
  text-align: center;
  margin: 90px 0px 0px 0px;
}
.h3 {
  text-align: center;
  margin: 50px 0px 0px 0px;
}
.prise_list {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  list-style-image: url("./img/Vector\\(2\).png");
}
.auth_button1 {
  background-color: white;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: red;
  padding: 13px 45px;
  transition: all 0.4s;
  margin: 20px 0px 50px 0px;
  border: 2px solid red;
  border-radius: 50px;
}
.auth_button1:first-child {
  margin-right: 5px;
}
.auth_button1:hover {
  color: white;
  cursor: pointer;
  transition: all 0.4s;
  background-color: red;
  box-sizing: border-box;
}
.prize_text {
  margin: 150px;
}
.prise_img {
  margin: 80px 0px 30px;
}
.prise_title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
li {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}
.prise-list_items {
  text-align: left;
  margin-left: 115px;
}
.prize_text {
  text-align: center;
  margin: 150px 0px 20px 0px;
  color: #0b132a;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}
.prize_desc {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin: 0px 0px 155px 0px;
}
.Sponsored {
  margin: 6px 0px 0px 0px;
}
.trusted {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  margin: 264px 0px 20px 0px;
}
.these {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 0px 0px 60px 0px;
}
.comment_items {
  display: flex;
}
.comment_inners {
  margin: 0px 0px 0px 50px;
  width: 400px;
  height: 230px;
  background: white;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px;
}
.comment_inners:hover{
  cursor: pointer;
  border: 2px solid #f53838;
}

.name {
  list-style-image: url(./img/Ellipse\ 175.png);
  margin:10px 20px 5px 20px;

}
.home{
  margin: 0px 21px 26px 21px ;
}
.komentariya{
  margin: 0px 30px 30px;
}

.cont_desc {
  width: 1300px;
  margin: 0 auto;
}

.auth_button-inners {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f53838;
  border: 2px solid #f53838;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0px 0px 0px 20px;
  transition: all 0.4s;
}
.auth_button-inners:hover {
  color: red;
  cursor: pointer;
  transition: all 0.4s;
  background-color: white;
  box-sizing: border-box;
}
.auth_button-inners span {
  font-weight: 800;
}
.stand {
  margin: 57px 63px;
}
.stand_inners {
  display: flex;
  width: px;
  height: 233px;
  background: #ffffff;
  border-radius: 10px;
  /* margin: 177px 150px 66px 150px; */
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0px 20px 20px 5px rgb(34, 37, 56, 0.06);
}
.stand_text {
  margin: 58px 70px 20px 70px;
}
.stand_desc{
  margin: 0px 70px 58px 70px
}
.subscribe-now {
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #f53855;
  box-shadow: 0px 20px 20px 5px rgba(245, 56, 56, 0.35);
  width: px;
  height: px;
  background: #f53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  padding: 17px 65px;
  margin: 86px 70px 86px 70px;
}
.subscribe-now:hover {
  color: red;
  cursor: pointer;
  transition: all 0.4s;
  background-color: white;
  box-sizing: border-box;
}

.navbar_list {
  list-style: none;
}
.navbar_item-inners {
  width: 74px;
}
.navbar_link:hover {
  color: blue;
}
.navbar_link {
  margin-right: 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #4f5665;
}
.left_inners {
  width: 45px;
  height: 15px;
  background-color: #f53838;
  border-radius: 20px;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
}
.comment_inners:first-child {
  margin-left: 0;
}
.left_item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dde0e4;
  margin: 0px 0px 0px 15px;
}
.cards_left {
  display: flex;
}
.cards_right {
  display: flex;
}
.info1_img {
  justify-content: space-between;
  align-items: center;
}
.logo_desc {
  margin: 26px 0px 30px 0px;
}
.header-inners {
  display: flex;
}
.footer {
  background-color: #f8f8f8;
}
.footer_inners {
  display: flex;
  justify-content: space-between;
}
.footer_center {
  display: flex;
  justify-content: space-between;
}
.footer_center-inners {
  margin-right: 126px;
}
.footer_center-inners:last-child {
  margin-right: 0;
}
.footer_link-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #0b132a;
  margin-bottom: 20px;
}
.footer_link-items {
  margin-bottom: 10px;
}
.footer_link-link {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.footer_link-link:hover {
  color: #0b132a;
}
.square {
  display: flex;
  justify-content: space-between;
}
.blok {
  display: flex;
}
.mob_nav{
  display: none;
  position: relative;
}
.mob_nav-list{
  padding: 0;
}
.mob_nav-items{
  padding: 5px 0;
}
.mob_nav-link{
  color: #0b132a;
  font-size: 25px;
}
.mob_nav-inners{
  left: -104px;
  display: none;
  position: absolute;
  background-color: aqua;
  padding-left: 15px;
}
.active{
  display: block;
}


